<div>
    <!-- <button class="btn btn-primary" (click)="showPassword=!showPassword">Display Details</button> -->
    <button class="btn btn-primary" (click)="onClk()">Display Details</button>
    <p *ngIf="showPassword">Secret password is {{secretPassword}}</p>
    <!-- <div *ngFor="let date1 of noofbtnClks"; let i=index > -->
        <div *ngFor="let count of btnClk"
    [ngStyle]="{backgroundColor:count > 5 ? 'blue' : 'transparent'}"
    [ngClass]="{white:count>5}">{{count}}
    <!-- {{date1}} -->
</div>
</div>
